
# **데이터 엔지니어링 with Python**

## SQL for Data Engineer

In [2]:
import sqlalchemy

### Access to AWS Redshift

In [3]:
# 자신의 환경에 맞게 업데이트
user = '#######'
password = '######'

In [4]:
sql_conn_str = '##############(
    user='######',
    password='#######'
)

In [5]:
sqlalchemy.create_engine(sql_conn_str)

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Engine(postgresql://#######:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev)

%sql : Pandas Usage 
<br>
%%sql : Standard Query Usage

In [6]:
#magic command : %load_ext
%load_ext sql

In [7]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://#######:########@###############

'Connected: gunho19945@dev'

In [8]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('7cdace91c487558e27ce54df7cdb299c', datetime.datetime(2019, 5, 1, 0, 13, 11, 783000)),
 ('94f192dee566b018e0acf31e1f99a2d9', datetime.datetime(2019, 5, 1, 0, 49, 46, 73000)),
 ('7ed2d3454c5eea71148b11d0c25104ff', datetime.datetime(2019, 5, 1, 10, 18, 43, 210000)),
 ('f1daf122cde863010844459363cd31db', datetime.datetime(2019, 5, 1, 13, 10, 56, 413000)),
 ('fd0efcca272f704a760c3b61dcc70fd0', datetime.datetime(2019, 5, 1, 13, 45, 19, 793000)),
 ('8804f94e16ba5b680e239a554a08f7d2', datetime.datetime(2019, 5, 1, 14, 23, 7, 660000)),
 ('c5f441cd5f43eb2f2c024e1f8b5d00cd', datetime.datetime(2019, 5, 1, 15, 3, 54, 650000)),
 ('d5fcc35c94879a4afad61cacca56192c', datetime.datetime(2019, 5, 1, 15, 13, 16, 140000)),
 ('3d191ef6e236bd1b9bdb9ff4743c47fe', datetime.datetime(2019, 5, 1, 15, 33, 58, 197000)),
 ('c17028c9b6e0c5deaad29665d582284a', datetime.datetime(2019, 5, 1, 15, 59, 57, 490000))]

In [9]:
result = %sql SELECT * FROM raw_data.channel
df = result.DataFrame()

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

In [10]:
df.head()

  channelname
0       Naver
1    Facebook
2     Youtube
3   Instagram
4      TIKTOK

### Assignment 1

In [11]:
%%sql

CREATE TABLE adhoc.chrisp_channel (
    channel varchar(32) primary key
);

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) Relation "chrisp_channel" already exists

[SQL: CREATE TABLE adhoc.chrisp_channel (
    channel varchar(32) primary key
);]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [12]:
%%sql

INSERT INTO adhoc.chrisp_channel VALUES ('Facebook'),('Google');

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[]

CTAS : 
~~~
CREATE TABLE TABLENAME AS SELECT 
...
~~~
데이터 중복 query 없이 테이블 생성

In [13]:
%%sql

DROP TABLE adhoc.chrisp_channel;

CREATE TABLE adhoc.chrisp_channel AS
SELECT DISTINCT channel
FROM raw_data.user_session_channel;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [14]:
%%sql

SELECT * FROM adhoc.chrisp_channel;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Naver',),
 ('Facebook',),
 ('Youtube',),
 ('Instagram',),
 ('Organic',),
 ('Google',)]

In [15]:
%%sql

ALTER TABLE adhoc.chrisp_channel RENAME channel to channelname;
INSERT INTO adhoc.chrisp_channel VALUES ('TikTok');

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
1 rows affected.

[]

IN & LIKE/ILIKE

Performance : COUNT(1) > COUNT(*)

In [16]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel IN
('Google','Facebook');

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [17]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel = 'Google' OR channel = 'Facebook';

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

REGEX matching : %

In [18]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel ILIKE '%o%';

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(67768,)]

In [19]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel NOT ILIKE '%o%';

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33752,)]

Session 이 가장 많이 생성되는 시간 대 계산하기

In [20]:
%%sql

SELECT EXTRACT(hour from ts) as HOUR, COUNT(DISTINCT(sessionid))
FROM adhoc.chris_test
GROUP BY 1
ORDER BY 1;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
24 rows affected.

[(0, 1870),
 (1, 1328),
 (2, 1125),
 (3, 815),
 (4, 703),
 (5, 611),
 (6, 491),
 (7, 236),
 (8, 149),
 (9, 340),
 (10, 870),
 (11, 1411),
 (12, 3852),
 (13, 9035),
 (14, 13417),
 (15, 15339),
 (16, 14140),
 (17, 10698),
 (18, 7469),
 (19, 5278),
 (20, 3956),
 (21, 3238),
 (22, 2801),
 (23, 2348)]

raw_data.channel의 채널별 사용자 수 세기

Base : raw_data.channel

In [30]:
%%sql

SELECT c.channelname, COUNT(DISTINCT(usc.userid))
FROM raw_data.channel c
LEFT JOIN raw_data.user_session_channel usc ON c.channelname = usc.channel
LEFT JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('Instagram', 895),
 ('Organic', 895),
 ('Google', 893),
 ('Youtube', 889),
 ('Facebook', 889),
 ('Naver', 882),
 ('TIKTOK', 0)]

Base : raw_data.user_seesion_channel <br>
Missing : TikTok

In [29]:
%%sql

SELECT c.channelname, COUNT(DISTINCT(userid))
FROM raw_data.user_session_channel as usc
LEFT JOIN raw_data.channel as c ON usc.channel = c.channelname
LEFT JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid
GROUP BY 1
ORDER BY 1;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Facebook', 889),
 ('Google', 893),
 ('Instagram', 895),
 ('Naver', 882),
 ('Organic', 895),
 ('Youtube', 889)]

Advanced SQL <br>
사용자별 처음 채널과 마지막 채널 알아내기 <br>
사용자 id : 251

In [34]:
%%sql

SELECT ts, channel
FROM raw_data.user_session_channel as usc
JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid
WHERE userid = 251
ORDER BY 1;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook'),
 (datetime.datetime(2019, 5, 2, 13, 6, 12, 47000), 'Instagram'),
 (datetime.datetime(2019, 5, 3, 13, 43, 21, 857000), 'Instagram'),
 (datetime.datetime(2019, 5, 4, 13, 54, 0, 610000), 'Instagram'),
 (datetime.datetime(2019, 5, 5, 13, 30, 8, 260000), 'Google'),
 (datetime.datetime(2019, 5, 6, 12, 36, 54, 80000), 'Youtube'),
 (datetime.datetime(2019, 5, 7, 12, 22, 45, 713000), 'Youtube'),
 (datetime.datetime(2019, 5, 8, 12, 27, 53, 360000), 'Organic'),
 (datetime.datetime(2019, 5, 9, 11, 54, 21, 527000), 'Youtube'),
 (datetime.datetime(2019, 5, 10, 14, 29, 36, 197000), 'Facebook')]

In [40]:
%%sql

SELECT ts, channel, ROW_NUMBER() OVER (PARTITION BY userid ORDER BY ts) as N
FROM raw_data.user_session_channel as usc
JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid
WHERE userid = 251
ORDER BY 1
LIMIT 10;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook', 1),
 (datetime.datetime(2019, 5, 2, 13, 6, 12, 47000), 'Instagram', 2),
 (datetime.datetime(2019, 5, 3, 13, 43, 21, 857000), 'Instagram', 3),
 (datetime.datetime(2019, 5, 4, 13, 54, 0, 610000), 'Instagram', 4),
 (datetime.datetime(2019, 5, 5, 13, 30, 8, 260000), 'Google', 5),
 (datetime.datetime(2019, 5, 6, 12, 36, 54, 80000), 'Youtube', 6),
 (datetime.datetime(2019, 5, 7, 12, 22, 45, 713000), 'Youtube', 7),
 (datetime.datetime(2019, 5, 8, 12, 27, 53, 360000), 'Organic', 8),
 (datetime.datetime(2019, 5, 9, 11, 54, 21, 527000), 'Youtube', 9),
 (datetime.datetime(2019, 5, 10, 14, 29, 36, 197000), 'Facebook', 10)]

In [38]:
%%sql

SELECT * FROM (
    SELECT ts, channel, ROW_NUMBER() OVER (PARTITION BY userid ORDER BY ts) as N
    FROM raw_data.user_session_channel as usc
    JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid
    WHERE userid = 251
    ORDER BY 1
) WHERE N = 1;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook', 1)]

In [41]:
%%sql

SELECT * FROM (
    SELECT ts, channel, ROW_NUMBER() OVER (PARTITION BY userid ORDER BY ts) as N
    FROM raw_data.user_session_channel as usc
    JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid
    WHERE userid = 251
    ORDER BY 1
) WHERE N = 216;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 11, 26, 16, 54, 19), 'Google', 216)]