
# **데이터 엔지니어링 with Python**

## SQL for Data Engineer

In [27]:
import sqlalchemy

### Access to AWS Redshift

In [28]:
# 자신의 환경에 맞게 업데이트
user = 'gunho19945'
password = 'Gunho199451!'

In [29]:
sql_conn_str = 'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'.format(
    user='gunho19945',
    password='Gunho199451!'
)

In [30]:
sqlalchemy.create_engine(sql_conn_str)

Engine(postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev)

%sql : Pandas Usage 
<br>
%%sql : Standard Query Usage

In [31]:
#magic command : %load_ext
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://gunho19945:Gunho199451!@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: gunho19945@dev'

In [32]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('7cdace91c487558e27ce54df7cdb299c', datetime.datetime(2019, 5, 1, 0, 13, 11, 783000)),
 ('94f192dee566b018e0acf31e1f99a2d9', datetime.datetime(2019, 5, 1, 0, 49, 46, 73000)),
 ('7ed2d3454c5eea71148b11d0c25104ff', datetime.datetime(2019, 5, 1, 10, 18, 43, 210000)),
 ('f1daf122cde863010844459363cd31db', datetime.datetime(2019, 5, 1, 13, 10, 56, 413000)),
 ('fd0efcca272f704a760c3b61dcc70fd0', datetime.datetime(2019, 5, 1, 13, 45, 19, 793000)),
 ('8804f94e16ba5b680e239a554a08f7d2', datetime.datetime(2019, 5, 1, 14, 23, 7, 660000)),
 ('c5f441cd5f43eb2f2c024e1f8b5d00cd', datetime.datetime(2019, 5, 1, 15, 3, 54, 650000)),
 ('d5fcc35c94879a4afad61cacca56192c', datetime.datetime(2019, 5, 1, 15, 13, 16, 140000)),
 ('3d191ef6e236bd1b9bdb9ff4743c47fe', datetime.datetime(2019, 5, 1, 15, 33, 58, 197000)),
 ('c17028c9b6e0c5deaad29665d582284a', datetime.datetime(2019, 5, 1, 15, 59, 57, 490000))]

In [33]:
result = %sql SELECT * FROM raw_data.channel
df = result.DataFrame()

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

In [34]:
df.head()

  channelname
0       Naver
1    Facebook
2     Youtube
3   Instagram
4      TIKTOK

### Assignment 1

In [35]:
%%sql

CREATE TABLE adhoc.chrisp_channel (
    channel varchar(32) primary key
);

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) Relation "chrisp_channel" already exists

[SQL: CREATE TABLE adhoc.chrisp_channel (
    channel varchar(32) primary key
);]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [36]:
%%sql

INSERT INTO adhoc.chrisp_channel VALUES ('Facebook'),('Google');

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[]

CTAS : 
~~~
CREATE TABLE TABLENAME AS SELECT 
...
~~~
데이터 중복 query 없이 테이블 생성

In [37]:
%%sql

DROP TABLE adhoc.chrisp_channel;

CREATE TABLE adhoc.chrisp_channel AS
SELECT DISTINCT channel
FROM raw_data.user_session_channel;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [38]:
%%sql

SELECT * FROM adhoc.chrisp_channel;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Instagram',),
 ('Naver',),
 ('Youtube',),
 ('Facebook',),
 ('Organic',),
 ('Google',)]

In [39]:
%%sql

ALTER TABLE adhoc.chrisp_channel RENAME channel to channelname;
INSERT INTO adhoc.chrisp_channel VALUES ('TikTok');

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
1 rows affected.

[]

IN & LIKE/ILIKE

Performance : COUNT(1) > COUNT(*)

In [40]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel IN
('Google','Facebook');

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [41]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel = 'Google' OR channel = 'Facebook';

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

REGEX matching : %

In [42]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel ILIKE '%o%';

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(67768,)]

In [43]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel NOT ILIKE '%o%';

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33752,)]

Session 이 가장 많이 생성되는 시간 대 계산하기

In [44]:
%%sql

SELECT EXTRACT(hour from ts) as HOUR, COUNT(DISTINCT(sessionid))
FROM adhoc.chris_test
GROUP BY 1
ORDER BY 1;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
24 rows affected.

[(0, 1870),
 (1, 1328),
 (2, 1125),
 (3, 815),
 (4, 703),
 (5, 611),
 (6, 491),
 (7, 236),
 (8, 149),
 (9, 340),
 (10, 870),
 (11, 1411),
 (12, 3852),
 (13, 9035),
 (14, 13417),
 (15, 15339),
 (16, 14140),
 (17, 10698),
 (18, 7469),
 (19, 5278),
 (20, 3956),
 (21, 3238),
 (22, 2801),
 (23, 2348)]

raw_data.channel의 채널별 사용자 수 세기

Base : raw_data.channel

In [21]:
%%sql

SELECT c.channelname, COUNT(DISTINCT(usc.userid))
FROM raw_data.channel c
LEFT JOIN raw_data.user_session_channel usc ON c.channelname = usc.channel
LEFT JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('Instagram', 895),
 ('Organic', 895),
 ('Google', 893),
 ('Youtube', 889),
 ('Facebook', 889),
 ('Naver', 882),
 ('TIKTOK', 0)]

Base : raw_data.user_seesion_channel <br>
Missing : TikTok

In [45]:
%%sql

SELECT c.channelname, COUNT(DISTINCT(userid))
FROM raw_data.user_session_channel as usc
LEFT JOIN raw_data.channel as c ON usc.channel = c.channelname
LEFT JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid
GROUP BY 1
ORDER BY 1;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Facebook', 889),
 ('Google', 893),
 ('Instagram', 895),
 ('Naver', 882),
 ('Organic', 895),
 ('Youtube', 889)]

Advanced SQL <br>
사용자별 처음 채널과 마지막 채널 알아내기 <br>
사용자 id : 251

In [23]:
%%sql

SELECT ts, channel
FROM raw_data.user_session_channel as usc
JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid
WHERE userid = 251
ORDER BY 1;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
216 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook'),
 (datetime.datetime(2019, 5, 2, 13, 6, 12, 47000), 'Instagram'),
 (datetime.datetime(2019, 5, 3, 13, 43, 21, 857000), 'Instagram'),
 (datetime.datetime(2019, 5, 4, 13, 54, 0, 610000), 'Instagram'),
 (datetime.datetime(2019, 5, 5, 13, 30, 8, 260000), 'Google'),
 (datetime.datetime(2019, 5, 6, 12, 36, 54, 80000), 'Youtube'),
 (datetime.datetime(2019, 5, 7, 12, 22, 45, 713000), 'Youtube'),
 (datetime.datetime(2019, 5, 8, 12, 27, 53, 360000), 'Organic'),
 (datetime.datetime(2019, 5, 9, 11, 54, 21, 527000), 'Youtube'),
 (datetime.datetime(2019, 5, 10, 14, 29, 36, 197000), 'Facebook'),
 (datetime.datetime(2019, 5, 11, 12, 42, 13, 727000), 'Facebook'),
 (datetime.datetime(2019, 5, 12, 12, 46, 57, 153000), 'Youtube'),
 (datetime.datetime(2019, 5, 13, 11, 56, 26, 650000), 'Google'),
 (datetime.datetime(2019, 5, 14, 12, 50, 53, 303000), 'Youtube'),
 (datetime.datetime(2019, 5, 15, 12, 39, 16, 610000), 'Organic'),
 (datetime.datetime(2019, 5, 16, 12, 31, 56, 140000), 'Instagram'),
 (datetime.datetime(2019, 5, 17, 13, 6, 3, 367000), 'Youtube'),
 (datetime.datetime(2019, 5, 18, 12, 32, 12, 420000), 'Youtube'),
 (datetime.datetime(2019, 5, 19, 13, 35, 51, 503000), 'Organic'),
 (datetime.datetime(2019, 5, 20, 12, 59, 25, 773000), 'Naver'),
 (datetime.datetime(2019, 5, 21, 12, 17, 36, 223000), 'Instagram'),
 (datetime.datetime(2019, 5, 21, 12, 25, 44, 910000), 'Instagram'),
 (datetime.datetime(2019, 5, 22, 12, 59, 50, 550000), 'Organic'),
 (datetime.datetime(2019, 5, 23, 12, 31, 3, 600000), 'Instagram'),
 (datetime.datetime(2019, 5, 24, 13, 15, 30, 607000), 'Naver'),
 (datetime.datetime(2019, 5, 25, 12, 46, 54, 253000), 'Facebook'),
 (datetime.datetime(2019, 5, 26, 13, 6, 16, 913000), 'Google'),
 (datetime.datetime(2019, 5, 27, 13, 15, 41, 573000), 'Youtube'),
 (datetime.datetime(2019, 5, 28, 11, 53, 17, 513000), 'Organic'),
 (datetime.datetime(2019, 5, 29, 12, 33, 2, 777000), 'Instagram'),
 (datetime.datetime(2019, 5, 30, 12, 39, 35, 553000), 'Youtube'),
 (datetime.datetime(2019, 5, 30, 17, 23, 10), 'Facebook'),
 (datetime.datetime(2019, 5, 31, 12, 18, 30, 467000), 'Youtube'),
 (datetime.datetime(2019, 6, 1, 12, 53, 38, 227000), 'Naver'),
 (datetime.datetime(2019, 6, 1, 18, 59, 41), 'Instagram'),
 (datetime.datetime(2019, 6, 2, 13, 19, 44, 780000), 'Facebook'),
 (datetime.datetime(2019, 6, 2, 15, 16, 57), 'Instagram'),
 (datetime.datetime(2019, 6, 3, 12, 29, 39, 157000), 'Google'),
 (datetime.datetime(2019, 6, 4, 13, 11, 34, 537000), 'Organic'),
 (datetime.datetime(2019, 6, 5, 12, 39, 54, 320000), 'Youtube'),
 (datetime.datetime(2019, 6, 6, 12, 35, 31, 260000), 'Instagram'),
 (datetime.datetime(2019, 6, 7, 14, 13, 30, 970000), 'Google'),
 (datetime.datetime(2019, 6, 8, 12, 58, 44, 550000), 'Organic'),
 (datetime.datetime(2019, 6, 9, 12, 58, 28, 37000), 'Naver'),
 (datetime.datetime(2019, 6, 10, 13, 0, 17, 77000), 'Instagram'),
 (datetime.datetime(2019, 6, 10, 15, 2, 56, 180000), 'Instagram'),
 (datetime.datetime(2019, 6, 11, 13, 35, 18, 527000), 'Google'),
 (datetime.datetime(2019, 6, 12, 13, 13, 36, 663000), 'Organic'),
 (datetime.datetime(2019, 6, 13, 13, 31, 34, 237000), 'Organic'),
 (datetime.datetime(2019, 6, 14, 13, 19, 42, 297000), 'Organic'),
 (datetime.datetime(2019, 6, 14, 13, 24, 3, 453000), 'Youtube'),
 (datetime.datetime(2019, 6, 15, 13, 7, 3, 207000), 'Instagram'),
 (datetime.datetime(2019, 6, 16, 12, 44, 44, 787000), 'Google'),
 (datetime.datetime(2019, 6, 17, 13, 13, 3, 103000), 'Instagram'),
 (datetime.datetime(2019, 6, 18, 12, 33, 17, 483000), 'Instagram'),
 (datetime.datetime(2019, 6, 19, 12, 38, 26, 733000), 'Instagram'),
 (datetime.datetime(2019, 6, 20, 12, 50, 39, 390000), 'Youtube'),
 (datetime.datetime(2019, 6, 21, 12, 57, 52, 737000), 'Naver'),
 (datetime.datetime(2019, 6, 22, 13, 21, 12, 57000), 'Naver'),
 (datetime.datetime(2019, 6, 22, 16, 4, 40), 'Naver'),
 (datetime.datetime(2019, 6, 23, 12, 33, 2, 350000), 'Facebook'),
 (datetime.datetime(2019, 6, 24, 12, 20, 55, 627000), 'Naver'),
 (datetime.datetime(2019, 6, 25, 12, 53, 30, 443000), 'Organic'),
 (datetime.datetime(2019, 6, 26, 12, 16, 51, 993000), 'Facebook'),
 (datetime.datetime(2019, 6, 26, 18, 36, 54), 'Facebook'),
 (datetime.datetime(2019, 6, 27, 13, 50, 9, 650000), 'Google'),
 (datetime.datetime(2019, 6, 28, 13, 15, 23, 967000), 'Youtube'),
 (datetime.datetime(2019, 6, 29, 13, 38, 34, 300000), 'Instagram'),
 (datetime.datetime(2019, 6, 29, 13, 42, 47, 183000), 'Google'),
 (datetime.datetime(2019, 6, 29, 13, 43, 52, 563000), 'Google'),
 (datetime.datetime(2019, 6, 30, 12, 45, 5, 493000), 'Organic'),
 (datetime.datetime(2019, 7, 1, 12, 27, 32, 790000), 'Instagram'),
 (datetime.datetime(2019, 7, 1, 17, 58, 15), 'Instagram'),
 (datetime.datetime(2019, 7, 2, 13, 19, 33, 543000), 'Facebook'),
 (datetime.datetime(2019, 7, 2, 14, 56, 39, 963000), 'Organic'),
 (datetime.datetime(2019, 7, 3, 12, 48, 27, 257000), 'Organic'),
 (datetime.datetime(2019, 7, 8, 12, 53, 49, 693000), 'Organic'),
 (datetime.datetime(2019, 7, 9, 12, 21, 37, 27000), 'Organic'),
 (datetime.datetime(2019, 7, 10, 12, 41, 56, 653000), 'Instagram'),
 (datetime.datetime(2019, 7, 11, 13, 2, 33, 940000), 'Youtube'),
 (datetime.datetime(2019, 7, 12, 12, 39, 45, 390000), 'Naver'),
 (datetime.datetime(2019, 7, 13, 13, 16, 19, 803000), 'Youtube'),
 (datetime.datetime(2019, 7, 13, 13, 19, 5, 797000), 'Youtube'),
 (datetime.datetime(2019, 7, 14, 14, 34, 33, 657000), 'Youtube'),
 (datetime.datetime(2019, 7, 17, 12, 44, 32, 63000), 'Organic'),
 (datetime.datetime(2019, 7, 17, 16, 53, 22), 'Google'),
 (datetime.datetime(2019, 7, 18, 12, 51, 54, 643000), 'Youtube'),
 (datetime.datetime(2019, 7, 18, 12, 56, 43, 577000), 'Youtube'),
 (datetime.datetime(2019, 7, 18, 20, 29, 57), 'Youtube'),
 (datetime.datetime(2019, 7, 19, 16, 1, 16, 17000), 'Naver'),
 (datetime.datetime(2019, 7, 19, 17, 38, 53), 'Organic'),
 (datetime.datetime(2019, 7, 19, 17, 40, 18), 'Instagram'),
 (datetime.datetime(2019, 7, 19, 17, 41, 51), 'Instagram'),
 (datetime.datetime(2019, 7, 19, 17, 43, 51), 'Youtube'),
 (datetime.datetime(2019, 7, 20, 12, 57, 48, 747000), 'Naver'),
 (datetime.datetime(2019, 7, 20, 13, 1, 13, 857000), 'Instagram'),
 (datetime.datetime(2019, 7, 21, 12, 53, 14, 990000), 'Instagram'),
 (datetime.datetime(2019, 7, 22, 13, 19, 23, 447000), 'Youtube'),
 (datetime.datetime(2019, 7, 23, 12, 47, 7, 460000), 'Naver'),
 (datetime.datetime(2019, 7, 24, 12, 54, 51, 497000), 'Google'),
 (datetime.datetime(2019, 7, 24, 16, 8, 42), 'Google'),
 (datetime.datetime(2019, 7, 25, 12, 34, 51, 103000), 'Instagram'),
 (datetime.datetime(2019, 7, 25, 12, 39, 35, 593000), 'Instagram'),
 (datetime.datetime(2019, 7, 26, 12, 47, 35, 500000), 'Instagram'),
 (datetime.datetime(2019, 7, 26, 12, 52, 22, 50000), 'Organic'),
 (datetime.datetime(2019, 7, 26, 19, 18, 38), 'Google'),
 (datetime.datetime(2019, 7, 27, 13, 33, 2, 323000), 'Google'),
 (datetime.datetime(2019, 7, 29, 13, 6, 27, 130000), 'Facebook'),
 (datetime.datetime(2019, 7, 30, 12, 23, 24, 593000), 'Google'),
 (datetime.datetime(2019, 7, 30, 15, 31, 25), 'Instagram'),
 (datetime.datetime(2019, 7, 31, 13, 38, 48, 527000), 'Facebook'),
 (datetime.datetime(2019, 8, 1, 12, 56, 52, 543000), 'Google'),
 (datetime.datetime(2019, 8, 2, 13, 32, 39, 743000), 'Naver'),
 (datetime.datetime(2019, 8, 3, 14, 2, 1, 400000), 'Youtube'),
 (datetime.datetime(2019, 8, 4, 13, 53, 54, 553000), 'Instagram'),
 (datetime.datetime(2019, 8, 5, 12, 37, 58, 720000), 'Organic'),
 (datetime.datetime(2019, 8, 6, 12, 47, 42, 17000), 'Youtube'),
 (datetime.datetime(2019, 8, 7, 12, 42, 7, 713000), 'Facebook'),
 (datetime.datetime(2019, 8, 8, 12, 7, 18, 430000), 'Instagram'),
 (datetime.datetime(2019, 8, 9, 13, 19, 19, 580000), 'Organic'),
 (datetime.datetime(2019, 8, 10, 14, 3, 46, 323000), 'Organic'),
 (datetime.datetime(2019, 8, 11, 13, 57, 58, 377000), 'Naver'),
 (datetime.datetime(2019, 8, 12, 12, 46, 55, 367000), 'Instagram'),
 (datetime.datetime(2019, 8, 13, 12, 22, 28, 127000), 'Instagram'),
 (datetime.datetime(2019, 8, 14, 12, 10, 21, 790000), 'Instagram'),
 (datetime.datetime(2019, 8, 15, 17, 28, 48, 497000), 'Naver'),
 (datetime.datetime(2019, 8, 16, 13, 54, 53, 113000), 'Instagram'),
 (datetime.datetime(2019, 8, 17, 14, 11, 54, 877000), 'Instagram'),
 (datetime.datetime(2019, 8, 18, 13, 38, 14, 420000), 'Organic'),
 (datetime.datetime(2019, 8, 19, 13, 24, 12, 170000), 'Youtube'),
 (datetime.datetime(2019, 8, 20, 13, 33, 0, 347000), 'Facebook'),
 (datetime.datetime(2019, 8, 21, 13, 34, 23, 947000), 'Facebook'),
 (datetime.datetime(2019, 8, 21, 13, 37, 4, 953000), 'Google'),
 (datetime.datetime(2019, 8, 22, 12, 36, 23, 127000), 'Google'),
 (datetime.datetime(2019, 8, 23, 14, 0, 1, 60000), 'Facebook'),
 (datetime.datetime(2019, 8, 25, 14, 58, 40, 387000), 'Organic'),
 (datetime.datetime(2019, 8, 26, 13, 41, 51, 137000), 'Naver'),
 (datetime.datetime(2019, 8, 27, 12, 21, 19, 190000), 'Naver'),
 (datetime.datetime(2019, 8, 28, 13, 2, 15, 903000), 'Naver'),
 (datetime.datetime(2019, 8, 28, 13, 4, 53, 717000), 'Youtube'),
 (datetime.datetime(2019, 8, 29, 12, 17, 3, 380000), 'Organic'),
 (datetime.datetime(2019, 9, 3, 14, 46, 40, 353000), 'Organic'),
 (datetime.datetime(2019, 9, 3, 16, 11, 29), 'Facebook'),
 (datetime.datetime(2019, 9, 3, 16, 12, 24), 'Google'),
 (datetime.datetime(2019, 9, 4, 12, 59, 13, 917000), 'Naver'),
 (datetime.datetime(2019, 9, 5, 12, 35, 33, 793000), 'Facebook'),
 (datetime.datetime(2019, 9, 6, 13, 29, 40, 160000), 'Instagram'),
 (datetime.datetime(2019, 9, 6, 18, 53, 41, 373000), 'Google'),
 (datetime.datetime(2019, 9, 7, 14, 50, 41, 860000), 'Instagram'),
 (datetime.datetime(2019, 9, 8, 13, 44, 0, 730000), 'Instagram'),
 (datetime.datetime(2019, 9, 9, 12, 30, 40, 303000), 'Naver'),
 (datetime.datetime(2019, 9, 10, 12, 56, 17, 543000), 'Facebook'),
 (datetime.datetime(2019, 9, 11, 13, 9, 50, 40000), 'Google'),
 (datetime.datetime(2019, 9, 12, 13, 34, 36, 337000), 'Facebook'),
 (datetime.datetime(2019, 9, 13, 13, 18, 58, 977000), 'Instagram'),
 (datetime.datetime(2019, 9, 14, 13, 43, 47, 3000), 'Naver'),
 (datetime.datetime(2019, 9, 15, 13, 40, 54, 840000), 'Organic'),
 (datetime.datetime(2019, 9, 16, 13, 39, 13, 283000), 'Organic'),
 (datetime.datetime(2019, 9, 17, 12, 23, 56, 137000), 'Youtube'),
 (datetime.datetime(2019, 9, 18, 13, 37, 0, 210000), 'Naver'),
 (datetime.datetime(2019, 9, 19, 13, 51, 55, 193000), 'Organic'),
 (datetime.datetime(2019, 9, 20, 13, 52, 45, 850000), 'Naver'),
 (datetime.datetime(2019, 9, 22, 14, 41, 19, 317000), 'Facebook'),
 (datetime.datetime(2019, 9, 23, 12, 43, 30, 643000), 'Organic'),
 (datetime.datetime(2019, 9, 24, 15, 4, 54, 267000), 'Instagram'),
 (datetime.datetime(2019, 9, 25, 13, 29, 38, 347000), 'Instagram'),
 (datetime.datetime(2019, 9, 27, 13, 13, 26, 970000), 'Organic'),
 (datetime.datetime(2019, 9, 29, 14, 1, 37, 303000), 'Instagram'),
 (datetime.datetime(2019, 9, 30, 13, 30, 34, 823000), 'Naver'),
 (datetime.datetime(2019, 10, 2, 14, 51, 24, 390000), 'Youtube'),
 (datetime.datetime(2019, 10, 3, 14, 57, 24, 417000), 'Organic'),
 (datetime.datetime(2019, 10, 3, 18, 15, 4, 250000), 'Instagram'),
 (datetime.datetime(2019, 10, 3, 19, 56, 38), 'Youtube'),
 (datetime.datetime(2019, 10, 4, 15, 31, 35, 587000), 'Youtube'),
 (datetime.datetime(2019, 10, 5, 15, 6, 28, 717000), 'Youtube'),
 (datetime.datetime(2019, 10, 7, 13, 0, 30, 950000), 'Naver'),
 (datetime.datetime(2019, 10, 8, 12, 52, 10, 823000), 'Instagram'),
 (datetime.datetime(2019, 10, 9, 14, 13, 5, 130000), 'Instagram'),
 (datetime.datetime(2019, 10, 13, 15, 57, 9, 387000), 'Naver'),
 (datetime.datetime(2019, 10, 14, 17, 7, 54, 133000), 'Google'),
 (datetime.datetime(2019, 10, 15, 12, 57, 35, 127000), 'Instagram'),
 (datetime.datetime(2019, 10, 16, 14, 1, 36, 993000), 'Instagram'),
 (datetime.datetime(2019, 10, 17, 12, 35, 49, 640000), 'Google'),
 (datetime.datetime(2019, 10, 18, 14, 29, 12, 150000), 'Instagram'),
 (datetime.datetime(2019, 10, 20, 14, 23, 12, 523000), 'Youtube'),
 (datetime.datetime(2019, 10, 21, 13, 6, 43, 27000), 'Naver'),
 (datetime.datetime(2019, 10, 22, 13, 21, 42, 390000), 'Organic'),
 (datetime.datetime(2019, 10, 23, 13, 42, 59, 783000), 'Youtube'),
 (datetime.datetime(2019, 10, 23, 20, 16, 21), 'Youtube'),
 (datetime.datetime(2019, 10, 24, 13, 19, 58, 673000), 'Google'),
 (datetime.datetime(2019, 10, 27, 12, 55, 38, 563000), 'Instagram'),
 (datetime.datetime(2019, 10, 28, 15, 23, 22, 480000), 'Google'),
 (datetime.datetime(2019, 10, 29, 13, 41, 50, 303000), 'Naver'),
 (datetime.datetime(2019, 10, 29, 13, 42, 40, 357000), 'Naver'),
 (datetime.datetime(2019, 10, 29, 13, 47, 47, 353000), 'Facebook'),
 (datetime.datetime(2019, 10, 30, 15, 56, 53, 263000), 'Youtube'),
 (datetime.datetime(2019, 10, 31, 13, 59, 2, 907000), 'Naver'),
 (datetime.datetime(2019, 11, 5, 16, 29, 17, 403000), 'Youtube'),
 (datetime.datetime(2019, 11, 6, 13, 12, 22, 887000), 'Organic'),
 (datetime.datetime(2019, 11, 7, 14, 13, 54, 197000), 'Organic'),
 (datetime.datetime(2019, 11, 8, 14, 52, 52, 620000), 'Youtube'),
 (datetime.datetime(2019, 11, 8, 14, 56, 39, 267000), 'Youtube'),
 (datetime.datetime(2019, 11, 9, 15, 23, 15, 843000), 'Youtube'),
 (datetime.datetime(2019, 11, 10, 15, 49, 40, 190000), 'Organic'),
 (datetime.datetime(2019, 11, 11, 14, 7, 44, 547000), 'Instagram'),
 (datetime.datetime(2019, 11, 14, 15, 33, 8, 933000), 'Google'),
 (datetime.datetime(2019, 11, 14, 15, 38, 15, 263000), 'Organic'),
 (datetime.datetime(2019, 11, 17, 14, 36, 52), 'Youtube'),
 (datetime.datetime(2019, 11, 18, 16, 24, 2), 'Facebook'),
 (datetime.datetime(2019, 11, 19, 16, 28, 12), 'Youtube'),
 (datetime.datetime(2019, 11, 20, 15, 41, 25), 'Google'),
 (datetime.datetime(2019, 11, 21, 15, 44, 1), 'Naver'),
 (datetime.datetime(2019, 11, 22, 17, 55, 35), 'Facebook'),
 (datetime.datetime(2019, 11, 23, 15, 34, 30), 'Google'),
 (datetime.datetime(2019, 11, 25, 14, 31, 24), 'Organic'),
 (datetime.datetime(2019, 11, 26, 16, 54, 19), 'Google')]

In [24]:
%%sql

SELECT ts, channel, ROW_NUMBER() OVER (PARTITION BY userid ORDER BY ts) as N
FROM raw_data.user_session_channel as usc
JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid
WHERE userid = 251
ORDER BY 1
LIMIT 10;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook', 1),
 (datetime.datetime(2019, 5, 2, 13, 6, 12, 47000), 'Instagram', 2),
 (datetime.datetime(2019, 5, 3, 13, 43, 21, 857000), 'Instagram', 3),
 (datetime.datetime(2019, 5, 4, 13, 54, 0, 610000), 'Instagram', 4),
 (datetime.datetime(2019, 5, 5, 13, 30, 8, 260000), 'Google', 5),
 (datetime.datetime(2019, 5, 6, 12, 36, 54, 80000), 'Youtube', 6),
 (datetime.datetime(2019, 5, 7, 12, 22, 45, 713000), 'Youtube', 7),
 (datetime.datetime(2019, 5, 8, 12, 27, 53, 360000), 'Organic', 8),
 (datetime.datetime(2019, 5, 9, 11, 54, 21, 527000), 'Youtube', 9),
 (datetime.datetime(2019, 5, 10, 14, 29, 36, 197000), 'Facebook', 10)]

In [25]:
%%sql

SELECT * FROM (
    SELECT ts, channel, ROW_NUMBER() OVER (PARTITION BY userid ORDER BY ts) as N
    FROM raw_data.user_session_channel as usc
    JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid
    WHERE userid = 251
    ORDER BY 1
) WHERE N = 1;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook', 1)]

In [26]:
%%sql

SELECT * FROM (
    SELECT ts, channel, ROW_NUMBER() OVER (PARTITION BY userid ORDER BY ts) as N
    FROM raw_data.user_session_channel as usc
    JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid
    WHERE userid = 251
    ORDER BY 1
) WHERE N = 216;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 11, 26, 16, 54, 19), 'Google', 216)]

### Assignment 2

Gross Revenue 가 가장 큰 UserID 10개 찾기

In [55]:
%%sql

SELECT userid, sum(amount)
FROM raw_data.user_session_channel usc 
LEFT JOIN raw_data.session_transaction st
ON usc.sessionid = st.sessionid
WHERE amount IS NOT NULL
GROUP BY userid
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (1099, 421),
 (2682, 414),
 (891, 412)]

### Assignment 3

채널 별 월 매출액 테이블 만들기

모든 채널에 대해 수행 <br>
Base : raw_data.channel

In [47]:
%%sql

SELECT EXTRACT(MONTH FROM A.ts) as month, usc.userid, usc.channel, A.sessionid, B.refunded, B.amount
FROM raw_data.channel C
LEFT JOIN raw_data.user_session_channel usc ON C.channelname = usc.channel
LEFT JOIN raw_data.session_timestamp A ON usc.sessionid = A.sessionid
LEFT JOIN raw_data.session_transaction B ON A.sessionid = B.sessionid
LIMIT 10

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(5, 80, 'Organic', 'fdc0eb412a84fa549afe68373d9087e9', None, None),
 (5, 264, 'Google', 'a914ecef9c12ffdb9bede64bb703d877', None, None),
 (5, 229, 'Google', 'eddeb82df22554fa67c641e3f8a25566', None, None),
 (5, 80, 'Organic', '8ae1da0fe37c98412768453f82490da2', None, None),
 (5, 262, 'Organic', '761efc843ff05ab74ed358713dd51c1b', None, None),
 (5, 237, 'Organic', '233f1dd0f3f537bcb7a338ea74d63483', None, None),
 (5, 113, 'Organic', '7f2cba89a7116c7c6b0a769572d5fad9', None, None),
 (5, 757, 'Google', '675f9820626f5bc0afb47b57890b466e', None, None),
 (5, 788, 'Google', 'a8c6dd982010fce8701ce1aef8a2d40a', None, None),
 (5, 222, 'Google', 'd2a10b0bd670e442b1d3caa3fbf9e695', None, None)]

In [48]:
%%sql

CREATE TABLE adhoc.chris_monthly_revenue AS
SELECT EXTRACT(MONTH FROM A.ts) as month, usc.userid, usc.channel, A.sessionid, B.refunded, B.amount
FROM raw_data.channel C
LEFT JOIN raw_data.user_session_channel usc ON C.channelname = usc.channel
LEFT JOIN raw_data.session_timestamp A ON usc.sessionid = A.sessionid
LEFT JOIN raw_data.session_transaction B ON A.sessionid = B.sessionid

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) relation "chris_monthly_revenue" already exists

[SQL: CREATE TABLE adhoc.chris_monthly_revenue AS
SELECT EXTRACT(MONTH FROM A.ts) as month, usc.userid, usc.channel, A.sessionid, B.refunded, B.amount
FROM raw_data.channel C
LEFT JOIN raw_data.user_session_channel usc ON C.channelname = usc.channel
LEFT JOIN raw_data.session_timestamp A ON usc.sessionid = A.sessionid
LEFT JOIN raw_data.session_transaction B ON A.sessionid = B.sessionid]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [94]:
%%sql

SELECT * 
FROM adhoc.chris_monthly_revenue
LIMIT 10

#convert(double, paidUsers/NULLIF(uniqueUsers, 0)*100) conversionRate,

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(5, 779, 'Instagram', '7cdace91c487558e27ce54df7cdb299c', None, None),
 (5, 369, 'Youtube', '7ed2d3454c5eea71148b11d0c25104ff', None, None),
 (5, 676, 'Instagram', 'fd0efcca272f704a760c3b61dcc70fd0', None, None),
 (5, 468, 'Instagram', 'c5f441cd5f43eb2f2c024e1f8b5d00cd', None, None),
 (5, 420, 'Youtube', '3d191ef6e236bd1b9bdb9ff4743c47fe', None, None),
 (5, 87, 'Youtube', '0a4bbceda17a6253386bc9eb45240e25', None, None),
 (5, 757, 'Naver', '636efd4f9aeb5781e9ea815cdd633e52', None, None),
 (5, 248, 'Facebook', 'fb5c2bc1aa847f387022607d16adc510', None, None),
 (5, 229, 'Instagram', 'c4bca428211c2b48b81fd3b12afd2aa1', None, None),
 (5, 786, 'Instagram', 'cfa258af990f9cb188d36ddb5c6eb650', None, None)]

In [113]:
%%sql

SELECT cmv.month,
    cmv.channel,
    count(distinct(userid)) uniqueUsers, 
    count(CASE WHEN cmv.amount IS NOT NULL THEN userid END) paidUsers,
    round(cast(paidUsers as float)/cast(NULLIF(uniqueUsers,0) as float) * 100, 2) conversionRate,
    SUM(cmv.amount) grossRevenue,
    SUM(CASE WHEN cmv.refunded <> 'True' THEN cmv.amount END) netRevenue
FROM adhoc.chris_monthly_revenue cmv
GROUP BY 1, 2
ORDER BY 1, 2

 * postgresql://gunho19945:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
43 rows affected.

[(5, 'Facebook', 247, 14, 5.67, 1199, 997),
 (5, 'Google', 253, 10, 3.95, 580, 580),
 (5, 'Instagram', 234, 11, 4.7, 959, 770),
 (5, 'Naver', 237, 11, 4.64, 867, 844),
 (5, 'Organic', 238, 18, 7.56, 1846, 1571),
 (5, 'Youtube', 244, 10, 4.1, 529, 529),
 (6, 'Facebook', 414, 22, 5.31, 1578, 1578),
 (6, 'Google', 412, 13, 3.16, 947, 947),
 (6, 'Instagram', 410, 21, 5.12, 1462, 1418),
 (6, 'Naver', 398, 16, 4.02, 1090, 1090),
 (6, 'Organic', 416, 14, 3.37, 1129, 940),
 (6, 'Youtube', 400, 17, 4.25, 1042, 1042),
 (7, 'Facebook', 558, 32, 5.73, 2222, 2144),
 (7, 'Google', 556, 21, 3.78, 1558, 1385),
 (7, 'Instagram', 567, 25, 4.41, 1896, 1766),
 (7, 'Naver', 553, 19, 3.44, 1547, 1547),
 (7, 'Organic', 557, 24, 4.31, 1600, 1600),
 (7, 'Youtube', 564, 36, 6.38, 2210, 2037),
 (8, 'Facebook', 611, 19, 3.11, 1009, 1009),
 (8, 'Google', 610, 29, 4.75, 2210, 1894),
 (8, 'Instagram', 621, 29, 4.67, 2129, 2001),
 (8, 'Naver', 626, 22, 3.51, 1829, 1551),
 (8, 'Organic', 608, 27, 4.44, 1643, 1606),
 (8, 'Youtube', 614, 18, 2.93, 987, 950),
 (9, 'Facebook', 597, 29, 4.86, 2270, 2270),
 (9, 'Google', 599, 25, 4.17, 1872, 1691),
 (9, 'Instagram', 588, 20, 3.4, 1260, 1122),
 (9, 'Naver', 592, 21, 3.55, 1996, 1996),
 (9, 'Organic', 592, 23, 3.89, 1267, 1267),
 (9, 'Youtube', 588, 16, 2.72, 1301, 1301),
 (10, 'Facebook', 698, 29, 4.15, 1650, 1641),
 (10, 'Google', 699, 31, 4.43, 2150, 2098),
 (10, 'Instagram', 707, 36, 5.09, 2568, 2395),
 (10, 'Naver', 713, 33, 4.63, 2695, 2695),
 (10, 'Organic', 709, 33, 4.65, 2762, 2608),
 (10, 'Youtube', 705, 36, 5.11, 2492, 2319),
 (11, 'Facebook', 688, 26, 3.78, 1678, 1678),
 (11, 'Google', 688, 26, 3.78, 2286, 2235),
 (11, 'Instagram', 669, 26, 3.89, 2116, 2116),
 (11, 'Naver', 667, 26, 3.9, 2234, 1987),
 (11, 'Organic', 677, 34, 5.02, 2626, 2255),
 (11, 'Youtube', 677, 48, 7.09, 3532, 3331),
 (None, None, 0, 0, None, None, None)]